<div class="event">
  <div class='upvote-container pull-left' data-upvote-component data-upvote-count=<%= event.upvote_count %> data-upvoted=<%= event.upvoted?(current_user) %> data-event-id="<%=event.id%>">
  </div>
  <div class='image-container pull-left'>
    <a class='event-image' href=""><img src='<%=event.image.url(:thumb)%>' /></a>
  </div>
  <div class='meta-container pull-left'>
    <a class='event-name' href="<%=event_path(event)%>"><%=event.name%></a><span class="event-info"> - <%=event.get_local_datetime(@time_zone)%></span><br />
    <span class='event-meta'>Added by <%=event.user%> - <%=event.subkast%> - <%= event.comment_count %> <%=event.location_type %>
    </span>
  </div>
  <div class="reminder-container">
  </div>
  <div class='clearfix'></div>
</div>
