<%= javascript_include_tag "form_page_base" %>

<div class="event-form container">
  <h3>Add Event</h3>
  <form class="well event_form form-horizonal">
    <div class="form-group event_form_name">
      <div class="col-sm-3">
        <label class="control-label" for="name">Name of event</label></br>
        <span class="error" name="name"></span>
      </div>
      <div class="col-sm-9">
        <input class="form-control" type="text" name="name" id="name" maxlength="100"></input>
        <span class="counter-label"><span data-role="counter">100</span> characters remaining</span>
      </div>
      <div class="clear"></div>
    </div>
    <div class="form-group event_form_subkast">
      <div class="col-sm-3">
        <label class="control-label">Subkast</label><br />
        <span class="error" data-field="subkast"></span>
      </div>
      <div class="col-sm-9">
        <select class="form-control" name="subkast">
          <option value="-">Please select...</option>
          <% Subkast.all.each do |subkast| %>
            <option value="<%=subkast.code%>"><%=subkast.name%></option>
          <% end %>
        </select>
      </div>
      <div class="clear"></div>
    </div>
    <div class="form-group event_form_location">
      <div class="col-sm-3">
        <label class="control-label" for="location">Location</label><br />
        <span class="error" data-field="location"></span>
      </div>
      <div class="col-sm-9">
        <label>
          <input type="radio" name="location_type" id="" value="international" checked>
          This event can be experienced by an <b>international</b> audience.
        </label>
        </br>
        <label>
          <input type="radio" name="location_type" id="" value="national" >
          This event can be experienced in a <b>specific country</b>:
        </label>
        <select class="form-control" name="country">
          <% Country.all.sort_by(&:en_name).each do |country| %>
            <option value="<%=country.code%>"><%=country.en_name%></option>
          <% end %>
        </select>
      </div>
      <div class="clear"></div>
    </div>
    <div class="form-group event_form_date">
      <div class="col-sm-3">
        <label for="location">Date and Time</label><br />
        <span class="error" data-field="datetime"></span>
      </div>
      <div class="col-sm-9">
        <div id="datetime-region"></div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="form-group event_form_image">
      <div class="col-sm-3">
        <label>Image</label>
        <p>Choosing a great picture helps bring attention to your event.</p>
        <p class="ie-warning">Image support for Internet Explorer is coming soon.</p>
      </div>
      <div class="col-sm-9">
        <div id="image-region"></div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="form-group event_form_description">
      <div class="col-sm-3">
        <label class="control-label" >Description</label>
      </div>
      <div class="col-sm-9">
        <textarea class="form-control" name="description" rows="3"></textarea>
      </div>
      <div class="clear"></div>
    </div>
    <center>
      <div class="save-container">
      </div>
    </center>
    <div class="clearfix"></div>
  </form>
</div>

<script type="text/javascript">
  FK.App.start({
    countries: <%= raw Country.all.sort_by(&:en_name).to_json() %>,
    events: [],
    links:
      {
       about: '<%= about_path %>',
       faq: '<%= faq_path %>',
       tos: '<%= termsofservice_path %>',
       logout: '<%= destroy_user_session_path %>',
       login: '<%= new_user_session_path %>',
       user_edit: '<%= edit_user_registration_path %>',
       register: '<%= new_user_registration_path %>'
      },
    user: <%= user_signed_in? ? raw(current_user.to_json()) : 'null' %>,
    subkasts: <%= raw Subkast.all.to_json() %>,
    mySubkasts: <%= raw Subkast.by_user(current_user).to_json() %>
  });
  if (!Backbone.History.started)
    Backbone.history.start({pushState: true})
</script>
