<div class="navbar-container">
  <div class="navbar navbar-fixed-top forekast-navbar">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to '', root_path(country: params[:country]), class: 'logo' %>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="tagline hidden-xs">
          The Crowdsourced Calendar of the Internet
        </li>
        <li class="what-is-global hidden-xs" data-toggle="tooltip" title="Global events are those that are not restricted by location - events people can watch, listen to, or take part in no matter where they live." data-placement="bottom">
          <a href="#">What is a global event?</a>
        </li>
        <li data-option="new">
          <%= link_to '+ Add Event', new_event_path, class: 'btn add-new btn-default' %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if (current_user.present?) %>
          <li>
            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#"><%= current_user.username %> <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href=<%= edit_user_registration_path %>>Profile Settings</a></li>
                <li><a href=<%= destroy_user_session_path %>>Logout</a></li>
              </ul>
          </li>
        <% else %>
<!--           <li class="newsletter hidden-xs">
            Get the weekly event Forekast to your inbox!
          </li>
          <li class="newsletter-arrow hidden-xs"></li> -->
          <li><a href="<%=new_user_registration_path%>" class="btn btn-focus" href="">Join the Community</a></li>
          <li><a href="<%=new_user_session_path %>" class="btn btn-alt">Log In</a></li>
        <% end %>
      </ul>
    </div>
  </div>
  <% if @subkast.present? %>
    <div class="navbar navbar-fixed-top subkast-navbar">
      <a class="subkast-header-link" href="/<%=@subkast.url%>">
        <span class="subkast-header">forekast.com/</span>
        <span class="subkast"><%=@subkast.name.downcase %></span>
      </a>
    </div>
  <% end %>
</div>
