<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class=""> <!--<![endif]-->

  <% px = "60" %>
  <% if @subkast.present?
    px = "90"
  end %>
  <head>
    <%= render :partial => 'layouts/head_section' %>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <% if content_for?(:meta) %>
      <%= yield :meta %>
    <% end %>
  </head>
  <body style="margin-top: <%=px%>px; padding-bottom: 60px;">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <%= render :partial => 'layouts/navbar' %>
    <%= render :partial => 'layouts/newsletter_banner' %>
    <%= yield %>
    <%= render :partial => 'layouts/facebook' %>
    <div id="footer">
      <div class="footer-text">
        <%= link_to 'About', about_path %> &bull;
        <%= link_to 'FAQ', faq_path %> &bull;
        <a href="http://blog.forekast.com" target="_blank">Blog</a> &bull;
        <%= link_to 'Terms', termsofservice_path %> &bull;
        Follow Us:
        <a href="https://twitter.com/theforekast" target="_blank" ><i class="fa fa-twitter"></i></a>
        <a href="https://www.facebook.com/TheForekast" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="http://blog.forekast.com/" target="_blank"><i class="fa fa-tumblr"></i></a>
        <a href="https://plus.google.com/+Forekast" target="_blank"><i class="fa fa-google-plus"></i>
        </a>&nbsp; &nbsp; &nbsp; Let's talk: <a href="mailto:hello@forekast.com">hello@forekast.com</a>
      </div>
    </div>
    <script type="text/javascript">
      $('[data-toggle="tooltip"]').tooltip()
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48033129-1', 'auto');
      ga('send', 'pageview');
    </script>
    <%= javascript_include_tag "newsletter_banner" %>
  </body>
</html>
