<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class=""> <!--<![endif]-->

  <% px = "60" %>
  <% if @subkast.present?
    px = "90"
  end %>
  <head>
    <%= render :partial => 'layouts/head_section' %>
  </head>
  <body style="margin-top: <%=px%>px">
    <%= render :partial => 'layouts/navbar' %>
    <%= yield %>
    <%= render :partial => 'layouts/facebook' %>
    <div id="footer">
      <div class="footer-text">
        <%= link_to 'About', about_path %> &bull;
        <%= link_to 'FAQ', faq_path %> &bull;
        <a href="http://blog.forekast.com" target="_blank">Blog</a> &bull;
        <%= link_to 'Terms', termsofservice_path %> &bull;
        Follow Us:
        <a href="https://twitter.com/theforekast" target="_blank" ><i class="fa fa-twitter"></i></a>
        <a href="https://www.facebook.com/TheForekast" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="http://blog.forekast.com/" target="_blank"><i class="fa fa-tumblr"></i></a>
        <a href="https://plus.google.com/+Forekast" target="_blank"><i class="fa fa-google-plus"></i>
        </a>&nbsp; &nbsp; &nbsp; Let's talk: <a href="mailto:hello@forekast.com">hello@forekast.com</a>
      </div>
    </div>
  </body>
</html>
